:root {
--primecolor:rgb(219, 2, 2);
--secondcolor:rgb(100, 3, 255);
--thirdcolor: yellow ;
--lightcolor: #ffffff;
--bgcolor:rgb(0, 0, 0);
--bgcolor-2:rgb(29, 29, 29);
--padding: 8%;
 }
  
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html{
     font-family: 'Jost', sans-serif;
     font-size: 16px;
     color: var(--lightcolor);
}

span{
     color: var(--thirdcolor);
}

h1{
     font-size: 4.65rem;
     margin: 1.7rem 0;
    
}

h2{
     font-size: 2.2rem;
     letter-spacing: 0.12rem;
     cursor: pointer;
}

h4{
     font-size: 1.25rem;
     letter-spacing: 0.12rem;
     color: var(--primecolor);
     padding-top: 120px;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
     list-style-type: none;
     display: inline-block;
     margin: 0.8rem 1.5rem;
}

nav ul li a{
     color: var(--lightcolor);
     text-decoration: none;
     text-transform: capitalize;
     transition: 0.4s;
}

nav ul li a:hover{
     color: var(--thirdcolor);
    }

h5{
     font-size: 1.37rem;
     margin-bottom: 1.5rem;
     letter-spacing: 2px;
}

p{
     color: var(--secondcolor);
     letter-spacing: 2px;
     line-height: 1.8rem;
     font-size: 1rem;
}


/*---------------------------------------------
*------------------- HOME SECTION
---------------------------------------------*/

.home nav a{
 width: 12%;
}

.home{
     width: 100%;
     height: 100vh;
     background-color: var(--bgcolor) ;
     display: flex;
     flex-direction: column;
    
}


.container-tex h3{
     margin-top: 50px;
    padding-left: 455px;
    padding-top: 50px;
    margin-right: 50px;
}

.btn{
     background-color: var(--thirdcolor);
     color: var(--lightcolor);
     text-decoration: none;
     font-weight: bold;
     padding: 0.81rem 1.87rem ;
     border-radius:  1.3rem 1.3rem ;
     border: 2px solid transparent;
     transition: 0.4s;
     width: 35%;
     margin-left: 400px;
    margin-top: 15px;
}

.btn:hover{
     background-color: transparent;
     border: 2px solid var(--thirdcolor);
    
    
     
}


.content{
     flex-grow: 1;
     padding: 0 var(--padding);
     display: flex;
     align-items: center;
     justify-content: space-between;
}


.social img{
     margin-top: 2rem;
     margin-right: 2rem;
     width: 2.5rem;
     transition: 0.4s;
}

.social img:hover{
     transform: scale(1.2);
}

.home .container-images{
     width: 45%;
     height: 90%;
     position: relative;
     padding-right: 400px;
}

.home .container-images img{
     position: absolute;
     bottom: 0;
     height: 100%;
}

.home .container-images:hover .shape{
     left: 1.5%;
}


.social p{
     padding-top: 100px;
}

/*---------------------------------------------
*------------------- ABOUT SECTION
---------------------------------------------*/



.about{
     background-color: var(--bgcolor-2);
     display: flex;
     align-items: center;
     justify-content: space-around;
     
}

.about .container-images{
width: 37%;

}

.about .container-images img{
     width: 100%;
     padding: 2rem var(--padding);
     
     
}

.about .container-text{
     width: 35%;
}

.Services{
     background-color: var(--bgcolor);
}

.Services h1{
     padding-bottom: 86px;
     padding-top: 30px;
    
}

.text-center{
     text-align: center;
     background-color: var(--bgcolor);
     margin: 0;
   
}

.box{
     display: flex;
     justify-content: space-between;
     background-color: var(--bgcolor);
     padding-bottom: 3rem;
     
}
.card{
     width: 300px;
     background-color: var(--bgcolor-2);
     border-radius: 20px;
     padding: 1.3rem 2rem ;
     text-align: center;
    
}

.card i{
     font-size: 3.12rem;
     text-align: center;
     color: var(--thirdcolor);
     margin: 2rem;
    
}





/*---------------------------------------------
*------------------- Skills SECTION
---------------------------------------------*/




.Skills .container-text h1{
     margin-top: 3rem;
     padding-top: 0;
}

.Skills{
     background-color: var(--bgcolor-2);
     padding: 2rem var(--padding);
     display: flex;
     align-items: center;
     justify-content: center;

}

.Skills .container-images{
     width: 35%;
     }

.Skills .container-images img{
     width: 90%;
     padding: 2rem var(--padding);
}

.Skills .container-Skills{
     width: 50%;
     
}

.content-Skills{
     display: flex;
     flex-wrap: wrap;
     margin-top: 4rem;
     
}


.Skills img{
     width: 70%;
}


/*---------------------------------------------
*------------------- footer SECTION
---------------------------------------------*/


footer{
     padding: 2rem var(--padding);
     background-color: var(--bgcolor);
}

footer .content-footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

footer .content-footer p {
     color: var(--lightcolor);
     width: 500px;
     text-align: center;
     margin-top: 1rem;
}

footer .content-footer .end{
     color: var(--thirdcolor);
     margin-top: 1rem;
}

.humburger {
     display: none;
     position: relative;
     user-select: none;
     appearance: none;
     border: none;
     background: none;
     cursor: pointer;
}

.humburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--lightcolor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}

/*---------------------------------------------
*------------------- humberger SECTION
---------------------------------------------*/

#menu{
     display: none;
     position: relative;
     appearance: none;
     border: none;
     outline: none;
     background: none;
     cursor: pointer;
     user-select: none;
}

#menu span{
     display: block;
     width: 33px;
     height: 4px;
     background-color: var(--lightcolor);
     border-radius: 6px;
     transform-origin: 0 0;
     transition: 0.4s;
     margin-bottom: 5px;

}

#menu.is-active span:nth-child(1){
     transform: translate(0px, -2px) rotate(45deg);
}


#menu.is-active span:nth-child(2){
     opacity: 0;
     transform: translateX(15px)

}

#menu.is-active span:nth-child(3){
     transform: translate(-3px, 3px) rotate(-45deg);

}

#menu.is-active span {
     background-color: var(--thirdcolor);

}





/*---------------------------------------------
*------------------- media SECTION
---------------------------------------------*/




/*---------------------------------------------
*------------------- tel SECTION
---------------------------------------------*/


@media  screen and (max-width:570px) {
     :root {
          --padding:1.5rem;
     }
     html{
          font-size: 13px;
     }
     .home .container-images{
          display: none;
     }

#menu{
     display: block;
}


nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 82px;
     padding-top: 0;
     background-color: var(--bgcolor);
     border-bottom: 1px solid var(--bgcolor);
     z-index: 100;
}

     nav > a{
          display: none;
     }
     nav ul {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: var(--bgcolor-2);
      }

nav ul.is-active{
     display: block;
}

      nav ul li {
          display: block;
          text-align: center;
          margin: 50px;
      }

.container-text{
     bottom: 0;
}

.social a{
     text-decoration: none;
}

.social{
     margin-top: 70px;
}


.container-tex h3{
     margin-top: 55px;
   padding-top: 140px;
  padding-left: 116px;
     
      
}

.btn{
     background-color: var(--thirdcolor);
     color: var(--lightcolor);
     text-decoration: none;
     font-weight: bold;
     padding: 0.81rem 1.87rem ;
     border-radius:  1.3rem 1.3rem ;
     border: 2px solid transparent;
     transition: 0.4s;
     width: 45%;
     margin-right: 190px;
  margin-left: 110px;
     margin-top: 15px;
     
}


#menu{
     display: block;
}

.about .container-images{
     display: none;
}

.about .container-text{
     width: 100%;
}

.box{
     justify-content: center;
     flex-wrap: wrap;
     gap: 1rem;
}

.Skills .container-images{
     display: none;
}

.Skills .container-Skills{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.Skills .container-Skills .content-Skills{
     margin-top: 2rem ;
     align-items: center;
     justify-content: center;
}



footer .content-footer p{
     width: 100%;
}

}




/*---------------------------------------------
*------------------- t chw SECTION
---------------------------------------------*/

@media  screen and (min-width:576px) and (max-width: 767px) {
     :root {
          --padding:1.5rem;
     }
     html{
          font-size: 13px;
     }
     .home .container-images{
          display: none;
     }

.content{
     padding-top: 90px;
}

.container-tex h3{
     margin-top: 55px;
   padding-top: 50px;
  padding-left: 220px;
     
      
}

.btn{
     background-color: var(--thirdcolor);
     color: var(--lightcolor);
     text-decoration: none;
     font-weight: bold;
     padding: 0.81rem 1.87rem ;
     border-radius:  1.3rem 1.3rem ;
     border: 2px solid transparent;
     transition: 0.4s;
     width: 30%;
     margin-right: 170px;
  margin-left: 201px;
     margin-top: 15px;
     
}



nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 82px;
     padding-top: 0;
     background-color: var(--bgcolor);
     border-bottom: 1px solid var(--bgcolor);
     z-index: 100;
}

     nav > a{
          display: none;
     }
     nav ul {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: var(--bgcolor-2);
      }

nav ul.is-active{
     display: block;
}

      nav ul li {
          display: block;
          text-align: center;
          margin: 50px;
      }



.social a{
     text-decoration: none;
}

.social{
     margin-top: 30px;
}



#menu{
     display: block;
}








.box{
     justify-content: center;
     flex-wrap: wrap;
     gap: 1rem;
     padding-top: 50px;
}

.Skills .container-images{
     display: none;
}



.Skills .container-Skills{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.Skills .container-Skills .content-Skills{
     margin-top: 2rem ;
     align-items: center;
     justify-content: center;
}

.Skills .container-text{
padding-bottom: 100px;
}

.Skills .container-text h1 {
     margin-top: 0;
}


footer .content-footer p{
     width: 100%;
}

}



/*---------------------------------------------
*------------------- ta le SECTION
---------------------------------------------*/



@media  screen and (min-width:768px) and (max-width: 991px) {
     :root {
          --padding:1.5rem;
     }
     html{
          font-size: 13px;
     }
     .home .container-images{
          display: none;
     }

nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 82px;
     padding-top: 0;
     background-color: var(--bgcolor);
     border-bottom: 1px solid var(--bgcolor);
     z-index: 100;
}

     nav > a{
          display: none;
     }
     nav ul {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: var(--bgcolor-2);
      }

nav ul.is-active{
     display: block;
}

      nav ul li {
          display: block;
          text-align: center;
          margin: 50px;
      }


      .container-tex h3{
          margin-top: 55px;
        padding-top: 90px;
       padding-left: 320px;
          
           
     }
     
     .btn{
          background-color: var(--thirdcolor);
          color: var(--lightcolor);
          text-decoration: none;
          font-weight: bold;
          padding: 0.81rem 1.87rem ;
          border-radius:  1.3rem 1.3rem ;
          border: 2px solid transparent;
          transition: 0.4s;
          width: 30%;
          margin-right: 170px;
       margin-left: 260px;
          margin-top: 15px;
          
     }



.social a{
     text-decoration: none;
}

.social{
     margin-top: 70px;
}


#menu{
     display: block;
}

.about .container-images{
     display: none;
}

.about .container-text{
     width: 100%;
}

.box{
     justify-content: center;
     flex-wrap: wrap;
     gap: 1rem;
}

.Skills .container-images{
     display: none;
}

.Skills .container-Skills{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.Skills .container-Skills .content-Skills{
     margin-top: 2rem ;
     align-items: center;
     justify-content: center;
}



footer .content-footer p{
     width: 100%;
}


}


/*---------------------------------------------
*------------------- ip  a SECTION
---------------------------------------------*/


@media  screen and (min-width:992px) and (max-width: 1279px) {
     :root {
          --padding:1.5rem;
     }
     html{
          font-size: 13px;
     }
     .home .container-images{
     height: auto;
     width: 100%;
     }

nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 82px;
     padding-top: 0;
     background-color: var(--bgcolor);
     border-bottom: 1px solid var(--bgcolor);
     z-index: 100;
}

     nav > a{
          display: none;
     }
     nav ul {
          display: none;
          position: fixed;
          top: 0;
          right: 0;
          width: 50vw;
          height: 100vh;
          background-color: var(--bgcolor-2);
      }

nav ul.is-active{
     display: block;
}

      nav ul li {
          display: block;
          text-align: center;
          margin: 50px
      }

      .container-tex h3{
          margin-top: 55px;
        padding-top: 90px;
       padding-left: 430px;
          
           
     }
     
     .btn{
          background-color: var(--thirdcolor);
          color: var(--lightcolor);
          text-decoration: none;
          font-weight: bold;
          padding: 0.81rem 1.87rem ;
          border-radius:  1.3rem 1.3rem ;
          border: 2px solid transparent;
          transition: 0.4s;
          width: 35%;
          margin-right: 170px;
       margin-left: 385px;
          margin-top: 15px;
          
     }



.social a{
     text-decoration: none;
}

.social{
     margin-top: 70px;
}



#menu{
     display: block;
}


.about .container-text{
     width: 60%;
}

.box{
     justify-content: center;
     flex-wrap: wrap;
     gap: 1rem;
}


.Skills .container-Skills{
     width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.Skills .container-Skills .content-Skills{
     margin-top: 2rem ;
     align-items: center;
     justify-content: center;
}


footer .content-footer p{
     width: 100%;
}


}



